<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>JeuxVideo</title>
        <link rel="stylesheet" href="../public/style.css"/>
    </head>
    <body>
        <div class="central">
            <%- include('partials/header') %>

            <h1>Détails</h1>

            <div>
                <form action="/movie-details/<%= movie._id %>?_method=PUT" method="post">
                    <legend>Modifier le film</legend>
                    <label for="movietitle">Titre du film :</label>
                    <input type="text" name="movietitle" id="movietitle" value="<%= movie.movietitle %>">
                    <label for="movieyear">Année du film :</label>
                    <input type="text" name="movieyear" id="movieyear" value="<%= movie.movieyear %>">
                    <button type="submit">mettre à jour</button>
                </form>
            </div>

            <%- include('partials/footer') %>
        </div>
    </body>
</html>
