<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>JeuxVideo</title>
        <link rel="stylesheet" href="../public/style.css"/>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="central">
            <%- include('partials/header') %>

            <h1>Détails</h1>

            <div>
                <form action="/movie-details/<%= movie._id %>?_method=PUT" method="post">
                    <legend>Modifier le film</legend>
                    <label for="movietitle">Titre du film :</label>
                    <input type="text" name="movietitle" id="movietitle" value="<%= movie.movietitle %>">
                    <label for="movieyear">Année du film :</label>
                    <input type="text" name="movieyear" id="movieyear" value="<%= movie.movieyear %>">
                    <button type="submit">mettre à jour</button>
                </form>
            </div>

            <button id="btnSuppr">suppr</button>

            <div><button><a href="/movies">Retour</a></button></div>

            <%- include('partials/footer') %>
        </div>
        <script>
            let btnSuppr = document.getElementById('btnSuppr');
            btnSuppr.addEventListener('click', deleteDocument);

            function deleteDocument() {
                <!--let movieId = <%= JSON.stringify(movie._id) %>;-->
                let movieId = '<%= movie._id %>';
                axios.delete(`/movie-details/${ movieId }`)
                    .then(response => {
                        window.location = '/movies';
                })
                .catch(error => {
                    console.error(error);
                });
            }
        </script>
    </body>
</html>
